@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/*Estilização do cabeçalho*/
header{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/*Estilização da cabeça do site*/
.website_head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #76b897;
}

/*estilização do logo e slogan*/
#log {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px 0px 20px;
}

/*Estilização dos links de rede social e meio de contato*/
#link {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#link ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: right;
}

#link ul li {
    display: block;
    text-decoration: none;
    border-right: 2px solid rgba(43, 42, 42, 0.76);
    border-right-width: 4px;
    margin: 10px;
    padding-right: 10px;
}
#link ul li a{
    text-decoration: none;
    color: black;
}

/*Estilização do menu de acesso as pages*/
nav {
    display: block;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*Estilização do slide principal*/
#container_slide {
    display: flex;
    width: 100%;
    justify-content: center;
}

#slide {
    display: flex;
    width: 90%;
    justify-content: center;
    background-size: cover;
    background-position: 50%;
    height: 80vh;

}

/*Estilização dos artigos*/

#artigo_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #ffffff;
}

#artigo_top {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 30px;
}

.apresentacao {
    width: 25%;
    background-color: #CF8E55;
    padding: 15px;
    
}

.img_artigo {
    width: 90%;
}

.apresentacao h2{
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0px 15px 0;
}

.apresentacao p {
    text-align: justify;
}

#artigo_bottom {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 30px;

    background-color: #CF8E55;
}

#artigo_left{
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 20px;
    align-self: center;
}

#artigo_left h2{
    margin: 20px 0px;
    text-align: center;
}

#artigo_left p {
    text-align: justify;
}

#artigo_right {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 20px;
}

.right_categoria {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 20px 10px 10px;
}

.right_categoria img {
    width: 100%;
    height: 150px;
}

.right_categoria h3{
    width: 100%;
    align-self: center;
    text-align: center;
}

/*Estilização da area institucional*/
#institutional {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #76b897;
    margin: 30px 0 20px 0;
}

#section_intitutional_video {
    display: flex;
    
    width: 80%;
    height: 300px;

}

/*Estilização da area de prizes*/
#prizes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    background-color: #ffffff;
    margin-top: 40px;
}

#prizes h2 {
    width: 100%;
    padding: 20px;
    background-color: #CF8E55;
    text-transform: uppercase;
    text-align: center;
}

#prizes_figure {
    display: flex;
    flex-direction: row;
    padding: 30px;
    
}

#prizes_figure figure {
    width: 30%;
    height: 80px;
}

/*Estilização da area de rodapé*/ 
footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(129, 128, 128);
}

#footer_sub{
    display: flex;
    flex-direction: row;
}

#logo_baseborad {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#logo_baseborad img {
    display: block;
    width: 100%;
    height: 100%;
}

#map_website{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    background-color: #76b897;
    margin: 40px 0 10px 0;
    padding: 60px 40px;
}

#map_left {
    width: 50%;
}

#map_left ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;

}

#map_left ul li {
    display: block;
    text-decoration: none;
    padding: 10px;
}

#map_left ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#map_right{
    width: 50%;
}

#map_right ul li{
    text-decoration: none;
}

#dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}