@charset "UTF-8";
#principal{
    width: 100%;
}

#principal h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Rancho, Cookie, Harrington;
    background-color: #CF8E55;
    font-size: 2rem;
    color: white;
    padding: 40px 0px ;
}

.invernadas-top , .campeiro-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #CF8E55;
    text-indent: 20px;
    border-top: 30px solid #CF8E55;
}

.invernadas-top h2, .campeiro-top h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #CF8E55;
    background-color: white;
    padding: 30px 0 20px 0;
    font-family: Rancho, Cookie, Harrington;
}

.conteudo {
    font-family: Geordia, Bodoni, Vinegar;
    font-size: 1.3rem;
    line-height: 40px;
    color: white;
    padding: 30px 20px;
    text-align: justify;
}

.premiacao {
    text-indent: 8%;
}

.invernadas-Bottom, .campeiro-Bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.background-adulto {
    background-image: url('../img/departamentos/departamento_artístico/invernada_adulta/invernada\ adulta\ -\ verde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.invernadas-Bottom h2, .campeiro-Bottom h2{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    margin: 2rem 0rem;
}

#prizes-years {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    align-self: center;
}

#prizes-years figure{
    width: 100%;
}

.prizes-years-slogan {
    width: 80%;
}

.coordination{
    display: flex;
    flex-direction: row;
    width: 100vh;
    justify-content: center;
    margin: 0px 20px 20px 20px;
}

.coordination img{
    width: 100%;
    border-radius: 50%;
}

.coordination h4{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.coordination p {
    text-align: center;
    margin: 20px 0;
}

.coordinators {
    display: block;
    margin: 0px 30px;
    width: 20%;
    background-color: #CF8E55;
    border-radius: 50% 50% 10px 10px;
}

.galery{
    display: grid;
    width: 100%;
    background-color: #76b897;
}

.galery h3{
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 20px 0;
}

.galery-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.galery-frame{
    display: grid;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.galery-img{
    display: block;
    width: 80%;
    margin-bottom: 2rem;
}

.background-veterano{
    background-image: url('../img/departamentos/departamento_artístico/invernada_veterana/imagem\ do\ início.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-juvenil {
    background-image: url('../img/departamentos/departamento_artístico/invernada_juvenil/invernadajuvenil-verde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-mirim {
    background-image: url('../img/departamentos/departamento_artístico/invernada_mirim/invernada\ mirim\ -\ verde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-campeiro {
    background-image: url('../img/departamentos/departamento_campeiro/departamento\ campeiro\ \(7\).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-xiru {
    background-image: url('../img/departamentos/departamento_artístico/invernada_xirú/invernada_xirú-verde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-top{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #CF8E55;
}
